<%- include('./partials/head') %>


<section>
<ul class="card-list">
  <% persons.forEach(person => { %>
    <div>
      <a href="/person/<%=person.id %>">
  <li class="card-item">
    <div class="img-box">
      <%= console.log(person) %>
      <img src="<%= person || person.avatar.includes('https') ? person.avatar : '/assets/person.png' %>" height="200px">
    </div>
    <hr>
      <h2><%= person.name + " " + person.prefix + " " + person.surname %></h2>
      <p>Nickname: <%= person.nickname != "" ? person.nickname : 'Ik heb geen...' %></p>
      <div class="button-row">
      <a class="button" href="<%= person || person.github_handle.includes('https') ? person.github_handle : 'https://github.com/' + person.github_handle %>">
        <i class="fa-brands fa-github"></i> Github</a>
      </div>
  </li>
</a>
</div>
  <% }) %>
</ul>
</section>