<%- include('./partials/head') %>

<div class="navbar">
  <a href="/">
  <h1 class="title">FDND SQUADS</h1>
  </a>
  <div class="link">
    <a href="/">Terug naar de Squad page</a>
  </ul>
  </div>
</div>
<div class="main"></div>


<div>
  <div class="card-list-person">
<li class="card-item">
  <div class="img-box">
    <img src="<%= person.avatar.includes('https') ? person.avatar : '/assets/person.png' %>" height="200px">
  </div>
    <h2><%= person.name + " " + person.prefix + " " + person.surname %></h2>
    <p>Nickname: <%= person.nickname != "" ? person.nickname : 'Ik heb geen...' %></p>
    <div class="button-row">
    <a class="button" href="<%= person.github_handle.includes('https') ? person.github_handle : 'https://github.com/' + person.github_handle %>">
      <i class="fa-brands fa-github"></i> Github</a>
    </div>
</li>
    </a>
  </div>
</div>
