<%- include('./partials/head') %>

<nav class="navbar">
  <h1 class="title">Squad Member</h1>
  <div class="link">
    <a class="returnbutton" href="/">Terug naar de Squad page</a>
  </div>
</nav>

<div class="main"></div>

  <div class="card-list-person">
      <li class="card-item">
        <div class="img-box">
          <img src="<%= person.avatar.includes('https') ? person.avatar : '/assets/person.png' %>" height="200px">
        </div>
          <h2><%= person.name + " " + person.prefix + " " + person.surname %></h2>
          <p>Nickname: <%= person.nickname != "" ? person.nickname : 'Ik heb geen...' %></p>
          <div class="button-row">
          <a class="button" href="<%= person || person.github_handle.includes('https') ? person.github_handle : 'https://github.com/' + person.github_handle %>">
            <i class="fa-brands fa-github"></i> Github</a>
          </div>
      </li>
  </div>

<section class="comments">
  <h2>Comments</h2>
  <% if (messages.length === 0) { %>
    <p>Er zijn nog geen comments</p>
  <% } else { %>
    <ol>
       <% messages.forEach(message => { %>
        <li>   <p><%= message %><p></li>
      <% }) %>
    </ol>
  <% } %>

  <h2>Laat een comment achter!</h2>
  <form method="POST" action="/person/<%= person.id %>">
      <textarea name="message"  required placeholder="Plaats hier je comment"></textarea>
    <button type="submit" name="actie" value="verstuur" class="formbutton" >Verstuur</button>
  </form>
</section>
 