<%- include('./partials/head') %>


<div class="main"></div>
<div class="navbar">
  <a href="/">
    <h1 class="title">FDND SQUADS</h1>
    </a>
  </div>
  <div class="link">
    <% squads.slice(2).forEach(squad => { %>
      <li ><a href="/squad/<%= squad.id %>">Squad <%= squad.name %></a></li>
    <% }) %>
  </ul>
</div>
</div>


    <section>
        <ul class="card-list">
            <% persons.forEach(person => { %>
              <div>
                <a href="/person/<%=person.id %>">
            <li class="card-item">
              <div class="img-box">
                <img src="<%= person.avatar.includes('https') ? person.avatar : '/assets/person.png' %>" height="200px">
              </div>
              <hr>
                <h2><%= person.name + " " + person.prefix + " " + person.surname %></h2>
                <p>Nickname: <%= person.nickname != "" ? person.nickname : 'Ik heb geen...' %></p>
                <div class="button-row">
                    <a class="button" href="<%= person.github_handle.includes('github') ? person.github_handle : 'https://github.com/' + person.github_handle %>"><i class="fa-brands fa-github"></i> Github</a>
                </div>
            </li>
          </a>
          </div>
            <% }) %>
        </ul>
        <h1 class="squadname">Squad <%= squad.name %></h1>
    </section>
